@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Music&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
}
input[type="text"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0; 
}
.title-underline:hover{
    text-decoration: underline;
    text-decoration-color: #F79C1B;
}
body{
    font-family: "Rubik", sans-serif;
    width: 100vw; 
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #F6F6F6;
}
.header{
    position: absolute;
    color: #FFFFFF ;
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;
    background-color:rgba(26, 26, 26, .5);
    height: 103px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__logo--inner{
    display: flex;
    flex-direction: column;
    width: 173px;
    margin-right: 58px;
}
.header__logo{
    font-weight: 600;
    font-size: 43px;
    color: #F79C1B;
}
.header__logo--desc{
    margin: 0;
    color: #F6F6F680;
    font-size: 12px;
}
.logo--inner{
    display: flex;
    flex-direction: column;
    width: 173px;
    margin-right: 58px;
}
.logo{
    font-weight: 600;
    font-size: 43px;
    color: #F79C1B;
}
.logo--desc{
    margin: 0;
    color: #F6F6F680;
    font-size: 12px;
}
.header__navbar{
    font-size: 16px;
    font-weight: 300;
    display: flex;
    flex-grow: 1;
    gap: 30px;
    align-items: center;
    width: 431px;
}
.header__application{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.header__item{
    text-decoration: none;
    color: inherit;
}
.header__item:hover{
    border-bottom: 1px solid #F79C1B;
}
.header__img{
    display: none;
}
.header__phone{
    display: flex;
    align-items: center;
}
.button{
    align-items: center;
    padding: 15px 50px 15px 50px; 
    background-color: #F79C1B;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #FFFFFF; 
    border: 2px solid #F79C1B;
}
.header__button{
    display: flex;
    align-items: center;
    padding: 0.5em 1.5em; 
    background-color: transparent;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #F79C1B; 
    border: 2px solid #F79C1B;
}
.header__button:hover{
    background-color: #F79C1B;
    transition: background-color 1s;
    color:#FFFFFF;
}

.main{
    gap: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/1cc6c715ea3449d37ffcfa365dcceb13.jpeg");
    background-size: no-repeat;
    background-position: bottom;
    background-size: cover;
    justify-content: center;
    height: 718px;
    width: 100vw;
}
.main-auth{
    background-image: url("img/7d242b61d07335630b78f2cfcd3f8a78.png");
    background-position: center;
    height: 890px;
}
.main__application{
    color: #FFFFFF;
    height: 278px;
    width: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgba(26, 26, 26, .5);;
}
.main__application-auth{
    background-color:rgba(255, 255, 255, 0.89);
    gap: 50px;
    height: 550px;
    width: 550px;
}
.main__header{
    text-align: center;
    display: flex;
    font-size: 46px;
    margin-bottom: 0;
}
.application__header-auth{
    color: #1A1A1A;
}
.main__info{
    font-size: 20px;
    margin-bottom: 0;
    width: 450px;
    font-weight: 300;
    text-align: center;
}
.main__place{
    font-size: 18px;
    font-weight: bold;
}
.main__button{
    display: flex;
}
.main__button:hover{
    box-shadow: 4px 5px 5px 2px rgba(0, 0, 0, 0.479);
    transition: box-shadow 1s;
}

.kitchen{
    padding: 140px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.kitchen__title{
    font-size: 40px;
    font-weight: 500;
    justify-content: center;
    display: flex;
    
}
.kitchen__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.kitchen__block{
    flex-direction: column;
    display: flex;
}
.kitchen__img{
    height: 230px;
    width: 360px;
}
.img__scale{
    display: inline-block;
    overflow: hidden; 
}
.img__scale img {
    transition: 1s;
    display: block;
   }
.img__scale img:hover{
    transform: scale(1.2);
}
.kitchen__title-block{
    display: flex;
    font-weight: 500;
    font-size: 18px;
}
.kitchen__text{
    font-weight: 300;
    font-size: 16px;
    width: 360px;
}

.application{
    height: 512px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EBEBEB;
}
.application__title{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
}
.application__text{
    margin-top: 0;
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    width: 350px;
}
.application__block{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.application__input{
    width: 250px;
    height: 50px;
    /* font-size: 13px; */
    padding: 6px 0 4px 10px;
    border: 1px solid #F79C1B;
    background: transparent;
    border-radius: 0;
}
.application__button{
    width: 250px;
}
.application__button:hover{
    box-shadow: 4px 5px 5px 2px rgba(0, 0, 0, 0.479);
    transition: box-shadow 1s;
}
.description{
    display: flex;
    flex-wrap: wrap;
}
.description__info{
    padding: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.info__title{
    font-weight: 500;
    font-size: 40px;
}
.info__text{
    font-weight: 300;
    font-size: 16px;
    width: 360px;
}
.info__button:hover{
    box-shadow: 4px 5px 5px 2px rgba(0, 0, 0, 0.479);
    transition: box-shadow 1s;
}
.description__container{
    display: flex;
}
.description__info{
    width: 50vw;
    height: 50vw;
    background-color: #EBEBEB;
    text-align: right;
}
.info--left{
    text-align: left;
    align-items: flex-start;
}

.description__img{
    width: 50vw;
    height: 50vw;

}
.offers{
    display: flex;
    flex-direction: column;
    padding: 160px 300px 160px 300px;
    align-items: center;
}
.offers__title{
    text-align: center;
    margin-top: 0;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 80px;
}
.offers-block__title{
    font-weight: 500;
    font-size: 24px;
}
.offers-block__text{
    font-weight: 300px;
    font-size: 16px;
}
.offers__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 800px;
    row-gap: 80px;
    column-gap: 130px;
}
.offers__block{
    width: 320px;
}


.footer{
    padding-top: 35px;
    padding-left: 130px;
    padding-right: 130px;

    background-color: #515151;
    display: flex;
    flex-direction: column;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer__block{
    color: #FFFFFF;
}
.footer-menu{
    line-height: 26px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.footer-menu-item{
    text-decoration: none;
    color: inherit
}
.button__footer{
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0.5em 1.5em; 
    background-color: transparent;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #F79C1B; 
    border: 2px solid #F79C1B;
}
.button__footer:hover{
    background-color: #F79C1B;
    transition: background-color 1s;
    color:#FFFFFF;
}
.footer__line{
    width: 100vw;
    margin: 34px -130px 24px;
    color: #B3B3B3;
    border: 1px solid;
}
.footer__info{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 27px;
}
.footer__block-title{
    font-weight: 300;
    font-size: 20px;
}
.footer__block-text{
    font-weight: 300;
    font-size: 16px;
}
.footer__info-text{
    font-weight: 300;
    font-size: 16px;
    margin: 7px;
}
.footer__info-text-orange{
    color: #F79C1B;
}
@media (max-width: 450px) {
    .header{
        padding: 20px;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .header__navbar{
        display: none;
    }
    .header__application{
        display: none;
    }
    .header__img{
        display: flex;
        height: 60px;
        width: 60px;
    }
    .main__header{
        font-size: 22px;
    }
    .main__info{
        font-size: 15px;
        width: 330px;
    }
    .main__button {
        display: none;
    }
    .main{
        height: 517px;
        background-position: center;
    }
    .main__application{
        height: auto;
    }
    .kitchen {
        padding: 0;
        align-items: center;
        margin-bottom: 70px;
    }
    .kitchen__title {
        text-align: center;
        width: 300px;
    }
    .kitchen__container {
        flex-direction: column;
    }
    .application {
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .application__title{
        margin-top: 0;
    }
    .application__input{
        width: 400px;
    }
    .footer__container {
        flex-direction: column;
    }
    .footer__info {
        flex-direction: column;
    }
    
    .offers__block {
        width: 200px;
    }
    .offers__container {
        width: auto;
        flex-direction: row;
        justify-content: space-around;
        width: auto;
        row-gap: 80px;
        column-gap: 0; 
        flex-wrap: wrap;
        padding: 10px;
    }
    .application__block {
        flex-direction: column;
    }
    .offers{
        flex-direction: column;
        padding: 0;
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .header {
        flex-direction: column;
    }
    .main__application {
        width: auto;
    }
    .description__info {
        padding: 0;
    }
    .img-none{
        display: none;
    }
    .footer-menu {
        display: none;
    }
    .description__info {
        padding: 60px;
        height: auto;
        width: 100vw;
        align-items: flex-start;
        text-align: left;
        background-color: rgba(245, 245, 245, 0.79);
    }
    .info__title {
        margin: 0;
        margin-bottom: 20px;
    }
    .info__text {
        width: auto;
        line-height: 26px;
    }
    .img-1{
        background-image: url("img/1cc6c715ea3449d37ffcfa365dcceb13.jpeg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-2{
        background-image: url("img/1476bcb0aee80f27638cbbe549909ff9.jpeg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .info__button-1{
        margin-top: 30px;
        margin-bottom: 100px;
        width: 230px;
    }
    .info__button-2{
        margin-top: 30px;
        margin-bottom: 10px;
        width: 230px;
    }
    .footer__line{
        display: none;
    }
    .footer{
        padding: 20px;
    }
    .footer__block{
        text-align: center;
        order: 1;
        width: 100%;
    }
    .footer__logo--inner {
        margin-right: 0;
    }
    .footer__info {
        gap: 0;
        align-items: center
    }
    .footer__info-text {
        width: 450px;
        text-align: center;
    }
    .footer__container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: center;
        flex-wrap: wrap;
        height: 250px;
    }
}
